
@import 'https://fonts.googleapis.com/css?family=Cardo|Homemade+Apple';
.draggable {
  border:1px solid black;
  background-color: white;
  box-shadow: 1px 1px 5px gray;
  border-radius: 1px;
  position: absolute;
  font-family: cursive;
  padding:3px;
}
.draggable:hover{
cursor: pointer;
}

body{
background-image: url("../img/Old_paper.jpg");
}


.center{
  text-align: center;
}
h1{
  font-family: 'Homemade Apple', cursive;
}

p{
font-family: 'Cardo', serif;
}

.wrapper {
  overflow:hidden;
}

.wrapper div {
   min-height: 400px;
   padding: 10px;
}
#shakespeare {
float:left;
  margin-right:20px;
  margin-bottom: 0px;
  min-width:300px;
content: url("../img/shakespeare.png") ;

}
#helperverbs {

  overflow:hidden;
  margin:10px;

  min-height:100px;
}
#board {

  overflow:hidden;
  margin:10px;
/*content: url("../img/board.png") ;*/
  min-height:400px;
}

#insults{

  overflow:hidden;
  margin:10px;

  min-height:250px;
}

@media screen and (max-width: 400px ) {
   #shakespeare {
    float: none;
    margin-right:0;
    width:auto;
    border:0;

  }
}
