

.draggable {
  border:1px solid black;
  background-color: white;
  box-shadow: 1px 1px 5px gray;
  border-radius: 1px;
  position: absolute;
  font-family: cursive;
}
.draggable:hover{
cursor: pointer;
}
